footer {
    display: flex;
    background-color: #91AA9D;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 20px;
    border-top: 1px solid #FCFFF5;

        .footer-logo{
            padding-top: 10px;
            padding-left: 10px;
            color: #FCFFF5;
        }

        .footer-contact{
            padding: 10px;
            color: #FCFFF5;
        }

}