.main {
    display: flex;
    align-items: center;
    padding-top: 50px;


    .landing-image {
    
    }

    .main-intro {
        padding-right: 2px;
        margin-right: 1px;

        h1 {
            font-size: 20px;
            padding-bottom: 15px;
            
        }

        button {
            margin-top: 15px;
            background: lightcyan;
            width: 150px;
            border-radius: 10px;
            font-size: 15px;
            padding: 8px;
            cursor: pointer;
        }

    
    }

}

.why {

    background-color: white;
    padding-top: 15px;
    display: flex;
    align-items: center;

    .why-quote h2 {
        font-size: 4 rem;
        padding-top: 12px;
        padding-left: 3px;
        padding-right: 5px;
    }

    .reasons-main {
        display: flex;
        padding: 10px;
    
            .reason-indy {
                padding: 8px;
            
                h4 {
                    font-size: 20px;
                    padding-top: 10px;
                    padding-bottom: 4px;
                }

                p {
                    padding-top: 2px;
                }

            }


    
    }




}