.main {
    display: flex;
    align-items: center;
    padding-top: 50px;


    .landing-image {
    
    }

    .main-intro {
        padding-right: 2px;
        margin-right: 1px;

        h1 {
            font-size: 40px;
            font-family: Bitter;
            line-height: 1.5;
            padding-bottom: 15px;
            color:  #FCFFF5;
            
        }

        p {
            font-family: Rubik;
            font-size: 20px;
            padding-bottom: 5px;
        }


        button {
            margin-top: 15px;
            background: #FCFFF5;
            width: 150px;
            border-radius: 10px;
            font-size: 15px;
            padding: 8px;
            cursor: pointer;
        }

    
    }

}

.why {

    background-color: white;
    padding-top: 15px;
    display: flex;
    align-items: center;

    .why-quote h2 {
        font-size: 4 rem;
        padding-top: 12px;
        padding-left: 3px;
        padding-right: 5px;
    }

    .reasons-main {
        display: flex;
        padding: 10px;
    
            .reason-indy {
                padding: 8px;
            
                h4 {
                    font-size: 20px;
                    padding-top: 10px;
                    padding-bottom: 4px;
                }

                p {
                    padding-top: 2px;
                }

            }
    
    }

}

.how {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 20px;

    .how-fast {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        i {
            padding-left: 15px;
            padding-right: 20px;
        }

        h4 {
            font-size: 4rem;
            color: #FCFFF5;
        }
    }

    .how-list {
        flex-direction: column;
        padding-right: 15px;
        padding-top: 20px;
        color: #FCFFF5;

            p {
                font-size: 25px;
                padding-right: 35px;
            }

    }

}


.testimonial {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: white;
    padding-top: 15px;
    padding-bottom: 20px;

        h4 {
            font-size: 20px;
            padding: 15px 10px 4px 10px;
            color: #3E606F;
        }

        p {
            padding-top: 2px;
            padding-left: 7px;
            padding-right: 5px;
        }

}

.cta-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 20px;

        h4{
            font-size: 4rem;
            color: #FCFFF5;
        }

        button {
            margin-top: 25px;
            background: #FCFFF5;
            width: 175px;
            border-radius: 10px;
            font-size: 15px;
            padding: 8px;
            margin-bottom: 20px;
            cursor: pointer;
        }
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 20px;
    border-top: 1px solid #FCFFF5;

        .footer-logo{
            padding-top: 10px;
            padding-left: 10px;
            color: #FCFFF5;
        }

        .footer-contact{
            padding: 10px;
            color: #FCFFF5;
        }

}