.header {
    max-width: 100%;
    margin: 0 auto;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-bottom: 15px;
    padding-top: 15px;

    @media @phone {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        padding-bottom: 25px;
        margin-bottom: 20px;
    }

      @media @tablet { 
        max-width: 100%;
    }

      .navigation {
        @media @phone {
            padding-top: 17px;
        }

    }
       
            a {
            text-decoration: none;
            color: #91AA9D;
            padding: 15px;
            font-size: 12px;

                &:hover {
                    text-decoration: underline;
                    color: #3E606F;
                }
                @media @phone {
                    font-size: 16px;
                  }
    } 
}