.why {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-top: 15px;
    padding-bottom: 40px;



    @media @tablet {
        display: flex;
        flex-direction: column;
        background-color: white;
        padding-top: 15px;
        padding-bottom: 25px;
        }
    

    .why-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px 50px;
        

            @media @phone {
                flex-direction: column;
                text-align: center;
                padding-bottom: 0px;
            }

            @media @tablet {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                padding: 10px;
            }

            .why-indy {
                padding: 0 5%;
                overflow: hidden;
                height: 135px;
                position: relative;
                max-width: 50%;

                @media @phone {
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    padding-bottom: 0px;
                    max-width: 90%;
                    height: 135px;
                }

                i {
                    color: #3e606f;
                }
        
                h4 {
                    color: #3e606f;
                    font-family: Bitter;
                    font-size: 20px;
                    padding-top: 10px;
                    padding-bottom: 4px;

                    @media @phone {
                        padding-bottom: 8px;
                    }

                    // @media @tablet {
                    //     color: #3e606f;
                    //     font-family: Bitter;
                    //     font-size: 20px;
                    //     padding-top: 10px;
                    //     padding-bottom: 4px;
                    // }
                }

                p {
                    font-family: Rubik;
                    padding-top: 2px;
                    padding-bottom: 5px;
                    background-color: white;

                    @media @phone {
                        padding-bottom: 8px;
                    }

                    // @media @tablet {
                    //     font-family: Rubik;
                    //     padding-top: 2px;
                    // }
                }

                .expandButton {
                    font-size: 15px;
                    color: #91AA9D;
                    cursor: pointer;
                    background-color: white;
                    padding-top: 5px;
                    font-family: Rubik;
                    position: absolute;
                    bottom: 0;
                    left: 25%;

                    @media @phone {
                        left: 32%;
                    }
                }
            
            }

            .why-open {
                padding-top: 5px;
                height: 315px;
                background-color: #3e606f;
                color: #FCFFF5;

                    h4 {
                    background-color: #3e606f;
                    color: #FCFFF5;
                    }

                    p {
                    background-color: #3e606f;
                    color: #FCFFF5; 
                    }
            }
           
    

    }

    .why-end {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px 50px;
        

            @media @phone {
                flex-direction: column;
                text-align: center;
                padding-bottom: 0px;
            }

            @media @tablet {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                padding: 10px;
            }

            .why-indy {
                padding: 0 5%;
                overflow: hidden;
                height: 135px;
                position: relative;
                max-width: 50%;
                

                @media @phone {
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    padding-bottom: 0px;
                    max-width: 90%;
                    height: 135px;
                }
                
                i {
                    color: #3e606f;
                }

                h4 {
                    color: #3e606f;
                    font-family: Bitter;
                    font-size: 20px;
                    padding-top: 10px;
                    padding-bottom: 4px;

                    @media @phone {
                        padding-bottom: 8px;
                    }

                    // @media @tablet {
                    //     color: #3e606f;
                    //     font-family: Bitter;
                    //     font-size: 20px;
                    //     padding-top: 10px;
                    //     padding-bottom: 4px;
                    // }
                }

                p {
                    font-family: Rubik;
                    padding-top: 2px;
                    padding-bottom: 5px;
                    background-color: white;

                    @media @phone {
                        padding-bottom: 8px;
                    }

                    // @media @tablet {
                    //     font-family: Rubik;
                    //     padding-top: 2px;
                    // }
                }

                .expandButton {
                    font-size: 15px;
                    color: #91AA9D;
                    cursor: pointer;
                    background-color: white;
                    padding-top: 5px;
                    font-family: Rubik;
                    position: absolute;
                    bottom: 0;
                    left: 25%;

                    @media @phone {
                        left: 32%;
                    }
                }
            
            }

            .why-open {
                padding-top: 5px;
                height: 315px;
                background-color: #3e606f;
                color: #FCFFF5;

                    h4 {
                    background-color: #3e606f;
                    color: #FCFFF5;
                    }

                    p {
                    background-color: #3e606f;
                    color: #FCFFF5; 
                    }
            }
           

    }


    
}
