/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: black;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: black;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
.header {
  max-width: 100%;
  margin: 0 auto;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding-bottom: 15px;
  padding-top: 15px;
}
@media (max-width: 500px) {
  .header {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
    margin-bottom: 20px;
  }
}
@media (max-width: 800px) {
  .header {
    max-width: 100%;
  }
}
@media (max-width: 500px) {
  .header .navigation {
    padding-top: 17px;
  }
}
.header a {
  text-decoration: none;
  color: #91AA9D;
  padding: 15px;
  font-size: 12px;
}
.header a:hover {
  text-decoration: underline;
  color: #3E606F;
}
@media (max-width: 500px) {
  .header a {
    font-size: 16px;
  }
}
.main {
  max-width: 100%;
  display: flex;
  align-items: center;
  padding-top: 80px;
  background-color: #91AA9D;
}
@media (max-width: 500px) {
  .main {
    max-width: 100%;
    flex-direction: column-reverse;
  }
}
.main .landing-image {
  height: 45%;
  width: 45%;
}
.main .main-intro {
  padding-right: 2px;
  margin-right: 1px;
}
@media (max-width: 500px) {
  .main .main-intro {
    text-align: center;
  }
}
.main .main-intro h1 {
  font-size: 40px;
  font-family: Bitter;
  line-height: 1.5;
  padding-bottom: 15px;
  color: #FCFFF5;
}
.main .main-intro p {
  font-family: Rubik;
  font-size: 20px;
  padding-bottom: 5px;
  color: #193441;
}
.main .main-intro .btn {
  width: 180px;
  height: 40px;
  background-color: #FCFFF5;
  color: #193441;
  border-radius: 10px;
  margin-top: 20px;
  font-family: Rubic;
  font-size: 18px;
  padding: 8px;
  cursor: pointer;
}
@media (max-width: 500px) {
  .main .main-intro .btn {
    margin-bottom: 15px;
  }
}
.main .main-intro .btn:hover {
  background-color: #193441;
  color: #FCFFF5;
}
.main .main-intro a:link {
  font-family: Rubik;
  text-decoration: none;
  color: #FCFFF5;
}
.main .main-intro a:visited {
  color: #D1DBBD;
}
.quote {
  display: flex;
  width: 100%;
  background-color: white;
  justify-content: center;
  padding-top: 20px;
}
@media (max-width: 500px) {
  .quote .quote-image {
    width: 95%;
    height: 95%;
  }
}
@media (max-width: 800px) {
  .quote .quote-image {
    width: 95%;
    height: 95%;
  }
}
.why {
  display: flex;
  flex-direction: row;
  padding-top: 15px;
  padding-bottom: 40px;
  justify-content: space-evenly;
  padding-top: 40px;
}
@media (max-width: 800px) {
  .why {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-top: 15px;
    padding-bottom: 25px;
  }
}
.why .why-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10px;
}
@media (max-width: 500px) {
  .why .why-top {
    flex-direction: column;
    text-align: center;
    padding-bottom: 0px;
  }
}
@media (max-width: 800px) {
  .why .why-top {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
  }
}
.why .why-top .why-indy {
  padding: 0 5%;
  overflow: hidden;
  height: 135px;
  position: relative;
  max-width: 50%;
  text-align: center;
}
@media (max-width: 500px) {
  .why .why-top .why-indy {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 0px;
    max-width: 90%;
    height: 135px;
  }
}
.why .why-top .why-indy i {
  color: #3E606F;
}
.why .why-top .why-indy h4 {
  color: #3E606F;
  font-family: Bitter;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 4px;
}
@media (max-width: 500px) {
  .why .why-top .why-indy h4 {
    padding-bottom: 8px;
  }
}
.why .why-top .why-indy p {
  font-family: Rubik;
  padding-top: 2px;
  padding-bottom: 5px;
  color: #193441;
}
@media (max-width: 500px) {
  .why .why-top .why-indy p {
    padding-bottom: 8px;
  }
}
.why .why-top .why-indy .expandButton {
  font-size: 15px;
  color: #91AA9D;
  cursor: pointer;
  background-color: white;
  padding-top: 5px;
  font-family: Rubik;
  position: absolute;
  bottom: 0;
  left: 34%;
}
@media (max-width: 800px) {
  .why .why-top .why-indy .expandButton {
    left: 39%;
  }
}
@media (max-width: 500px) {
  .why .why-top .why-indy .expandButton {
    left: 34%;
  }
}
.why .why-top .why-open {
  padding-top: 5px;
  height: 315px;
  background-color: #3E606F;
  color: #FCFFF5;
  border-radius: 8px;
}
.why .why-top .why-open i {
  color: #FCFFF5;
}
.why .why-top .why-open h4 {
  background-color: #3E606F;
  color: #FCFFF5;
}
.why .why-top .why-open p {
  background-color: #3E606F;
  color: #FCFFF5;
}
.why .why-end {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10px;
}
@media (max-width: 500px) {
  .why .why-end {
    flex-direction: column;
    text-align: center;
    padding-bottom: 0px;
  }
}
@media (max-width: 800px) {
  .why .why-end {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
  }
}
.why .why-end .why-indy {
  padding: 0 5%;
  overflow: hidden;
  height: 135px;
  position: relative;
  max-width: 50%;
  text-align: center;
}
@media (max-width: 500px) {
  .why .why-end .why-indy {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 0px;
    max-width: 90%;
    height: 135px;
  }
}
.why .why-end .why-indy i {
  color: #3E606F;
}
.why .why-end .why-indy h4 {
  color: #3E606F;
  font-family: Bitter;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 4px;
}
@media (max-width: 500px) {
  .why .why-end .why-indy h4 {
    padding-bottom: 8px;
  }
}
.why .why-end .why-indy p {
  font-family: Rubik;
  padding-top: 2px;
  padding-bottom: 5px;
  background-color: white;
  color: #193441;
}
@media (max-width: 500px) {
  .why .why-end .why-indy p {
    padding-bottom: 8px;
  }
}
.why .why-end .why-indy .expandButton {
  font-size: 15px;
  color: #91AA9D;
  cursor: pointer;
  background-color: white;
  padding-top: 5px;
  font-family: Rubik;
  position: absolute;
  bottom: 0;
  left: 34%;
}
@media (max-width: 800px) {
  .why .why-end .why-indy .expandButton {
    left: 39%;
  }
}
@media (max-width: 500px) {
  .why .why-end .why-indy .expandButton {
    left: 34%;
  }
}
.why .why-end .why-open {
  padding-top: 5px;
  height: 315px;
  background-color: #3E606F;
  color: #FCFFF5;
  border-radius: 8px;
}
.why .why-end .why-open i {
  color: #FCFFF5;
}
.why .why-end .why-open h4 {
  background-color: #3E606F;
  color: #FCFFF5;
}
.why .why-end .why-open p {
  background-color: #3E606F;
  color: #FCFFF5;
}
.testimonial {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: white;
  padding-top: 35px;
  padding-bottom: 35px;
  border-top: 2px solid #193441;
  border-bottom: 2px solid #193441;
  max-width: 95%;
  margin: 0 auto;
}
@media (max-width: 800px) {
  .testimonial {
    max-width: 95%;
  }
}
@media (max-width: 500px) {
  .testimonial {
    flex-direction: column;
    max-width: 95% px;
    margin: 0 auto;
    padding-bottom: 25px;
  }
}
@media (max-width: 800px) {
  .testimonial .test-block {
    max-width: 33%;
  }
}
@media (max-width: 500px) {
  .testimonial .test-block {
    max-width: 95%;
    margin: 0 auto;
  }
}
.cta-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 2px;
}
@media (max-width: 500px) {
  .cta-bottom {
    max-width: 95%;
    text-align: center;
  }
}
.cta-bottom h4 {
  font-family: Bitter;
  font-size: 4rem;
  color: #3E606F;
}
@media (max-width: 500px) {
  .cta-bottom h4 {
    max-width: 95%;
    line-height: 1.4;
    margin: 0 auto;
    padding-left: 15px;
    text-align: center;
  }
}
@media (max-width: 800px) {
  .cta-bottom h4 {
    max-width: 95%;
    line-height: 1.4;
    text-align: center;
    margin: 0 auto;
    padding-left: 15px;
  }
}
.cta-bottom .cta-btn {
  width: 205px;
  height: 40px;
  background-color: #FCFFF5;
  color: #193441;
  border-radius: 10px;
  margin-top: 20px;
  font-family: Rubic;
  font-size: 18px;
  padding: 8px;
  cursor: pointer;
  margin-bottom: 20px;
}
@media (max-width: 500px) {
  .cta-bottom .cta-btn {
    margin-bottom: 15px;
  }
}
.cta-bottom .cta-btn:hover {
  background-color: #193441;
  color: #FCFFF5;
}
.cta-bottom a:link {
  font-family: Rubik;
  text-decoration: none;
  color: #FCFFF5;
}
.cta-bottom a:visited {
  color: #D1DBBD;
}
.cta-bottom .cta-image {
  height: 25%;
  width: 25%;
}
footer {
  display: flex;
  background-color: #91AA9D;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 20px;
  border-top: 1px solid #FCFFF5;
}
footer .footer-logo {
  padding-top: 10px;
  padding-left: 10px;
  color: #FCFFF5;
}
footer .footer-contact {
  padding: 10px;
  color: #FCFFF5;
}
