/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: black;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: black;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  background-color: lightsteelblue;
}
.header {
  width: 800px;
  margin: 0 auto;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding-bottom: 15px;
  padding-top: 15px;
}
.header a {
  text-decoration: none;
  color: black;
  padding: 15px;
  font-size: 12px;
}
.main {
  display: flex;
  align-items: center;
  padding-top: 50px;
}
.main .main-intro {
  padding-right: 2px;
  margin-right: 1px;
}
.main .main-intro h1 {
  font-size: 20px;
  padding-bottom: 15px;
}
.main .main-intro button {
  margin-top: 15px;
  background: lightcyan;
  width: 150px;
  border-radius: 10px;
  font-size: 15px;
  padding: 8px;
  cursor: pointer;
}
.why {
  background-color: white;
  padding-top: 15px;
  display: flex;
  align-items: center;
}
.why .why-quote h2 {
  font-size: 4 rem;
  padding-top: 12px;
  padding-left: 3px;
  padding-right: 5px;
}
.why .reasons-main {
  display: flex;
  padding: 10px;
}
.why .reasons-main .reason-indy {
  padding: 8px;
}
.why .reasons-main .reason-indy h4 {
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 4px;
}
.why .reasons-main .reason-indy p {
  padding-top: 2px;
}
